<div class="landing">
  <form class="registerform" ng-submit='auth.register(userPassReg)'>
    <div class="labeldescription">
      <label for="username">Username: </label>
      <input type="text" name="username" placeholder="type username here" ng-model='userPassReg.username'>
    </div>
    <br>
    <div class="labeldescription">

      <label for="password">Password: </label>
      <input type="password" name="password" placeholder="type password here" ng-model='userPassReg.password'>
    </div>
    <br>
    <button type="submit" name="register" class='registerbutton'>Register</button>
  </form>

  <h3 id='or'>Or...</h3>

  <form class="loginform" ng-submit='auth.login(userPassLog)'>
    <div class="labeldescription">

      <label for="username">Username: </label>
      <input type="text" name="username" placeholder="type username here" ng-model='userPassLog.username'>
    </div>
    <br>
    <div class="labeldescription">
      <label for="password">Password: </label>
      <input type="password" name="password" placeholder="type password here" ng-model='userPassLog.password'>
    </div>
    <br>
    <button type="submit" name="login" class='loginbutton'>Log In</button>
  </form>
</div>
